.App {
  text-align: center;
  background-image: url('https://images.pexels.com/photos/1907227/pexels-photo-1907227.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
  height:100vh
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.add-recipe-form {
  background-color: #78926b;
  width: 50%;
  margin: 0 auto;
  border-radius: 5px;
}

.add-recipe-form > button {
  background-color: yellow;
}

.add-form-wrapper {
  border: 2px solid;
  border-radius: 5px;
  margin: 2.5% 25%;
}