nav {
  color: teal;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

a {
  font-size: 0.4rem;
  width: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  text-align: center;
}

.Home,
.LoginForm,
.RegisterForm {
  display: flex;
  justify-content: center;
  width: 30rem;
}
ul {
  padding: 0;
  padding-top: 2rem;
  width: 30rem;
  margin: 0 auto;
}

.Labels {
  background-image: -webkit-linear-gradient(
    top,
    slateGray 60%,
    crimson 50%,
    peachpuff 80%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.error {
  color: pink;
  font-size: 0.2rem;
}
.inputText {
  font-weight: bold;
  background-image: -webkit-linear-gradient(top, green, pink, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#email {
  color: red;
}

.Validate {
  color: lightblue;
}

#submit {
  color: pink;
}
button {
  background-color: transparent;
}
